html {
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-weight: 200;
    font-size: 20px;
}

#calc-container {
    border-radius: 0.650rem; 
    height: 25rem;
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #71A8BD;
    background-image: linear-gradient(#71A8BD, #71A8BD, #489DBD);
}

#display-panel {
    flex: 2.4 2;
    background-color: #022533;
}
#display-panel span{
    user-select: all; /* При щелчке в любом месте span-a выделится весь Span c числ. знач-ем */
    display: block;
    position: relative;
    top: 50%;
    left: 60%;
    padding: 0.25rem;
    font-size: 3rem;
}

#calc-container .lines {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex: 1 1;
    display: flex;
    flex-direction: row;
    font-weight: 300;
}

.lines .buttons {
    user-select: none; /* Запрещает выделаение кнопок и цифр пользователем */
    margin: 0;
    padding: 0;
    flex: 1 1;
    text-align: center;
    border-right: solid rgb(118, 178, 202) 1px;
    border-bottom: solid rgb(118, 178, 202) 1px;
}

#calc-container .lines .buttons:hover, .lines .buttons:active, .lines .buttons:focus {
    cursor: pointer;
    background-color: rgba(20, 43, 53, 0.096);
    filter: saturate(120%); /* Изменение насыщенности */
}

.lines .buttons span{
    position: relative;
    display: block;
    top: 30%;
    bottom: auto;
    font-size: 1rem;
    /* border: solid red 1px; */
}

.lines:last-child .buttons {
    border-bottom: none;
}
.lines .buttons:last-child {
    border-right: none;
}
.lines:last-child .buttons:last-child {
    flex: 2 2;
    background-color: #489DBD;
}