@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

#calc-container {
    /* border: 1px solid green; */
    border-radius: 13px;
    height: 500px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #71A8BD;
    background-image: linear-gradient(#71A8BD, #71A8BD, #489DBD);

    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 300;
}

#display-panel {
    flex: 2.4 2;
    background-color: #022533;
    /* border: 1px solid violet; */
}
#display-panel span{
    display: block;
    position: relative;
    top: 50%;
    left: 60%;
    padding: 5px;
    font-size: 60px;
    /* border: solid 1px orange; */
}

.lines {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex: 1 1;
    display: flex;
    flex-direction: row;
}

.lines .buttons {
    margin: 0;
    padding: 0;
    flex: 1 1;
    text-align: center;
    border-right: solid rgb(118, 178, 202) 1px;
    border-bottom: solid rgb(118, 178, 202) 1px;
}

#calc-container .lines .buttons:hover, .lines .buttons:active, .lines .buttons:focus {
    cursor: pointer;
    /* background-color: rgba(19, 30, 37, 0.075); */
    background-color: rgba(20, 43, 53, 0.096);
    filter: saturate(120%);
}

.lines .buttons span{
    position: relative;
    display: block;
    top: 30%;
    bottom: auto;
    font-size: 20px;
    /* border: solid red 1px; */
}

.lines:last-child .buttons {
    border-bottom: none;
}
.lines .buttons:last-child {
    border-right: none;
}
.lines:last-child .buttons:last-child {
    flex: 2 2;
    background-color: #489DBD;
}